{% extends "base.html"%}
{% block start %}
<div class="wrapper">
    <div class="text-center mt-4 name">
        Change Your Password
    </div>
    <form class="form p-3 mt-3" id="form" method="post" >
      {% csrf_token %}
        <div class="form-field d-flex align-items-center">
          <input type="password" name="new_password" placeholder="Type your password" autocomplete="off">
        </div>
        <div class="form-field d-flex align-items-center">
          <input type="password" name="reconfirm_password" placeholder="Re-confirm your password" autocomplete="off">
        </div>
        <button class="btn mt-3" type="submit">Sign in</button>
    </form>
  
  </div>

{% endblock %}