{% extends "base.html" %}

{% block start %}

<div class="wrapper">
  <div class="text-center mt-4 name">
      Member Account
  </div>
  <form class="p-3 mt-3" form action="/signin" method="post" >
    {% csrf_token %}
      <div class="form-field d-flex align-items-center">
        <input type="text" name="username" id="userName" placeholder="Username" autocomplete="off">
      </div>
      <div class="form-field d-flex align-items-center">
        <input type="password" name="pass1" id="pwd" placeholder="Password" autocomplete="off">
      </div>
      <button class="btn mt-3" type="submit">Sign in</button>
  </form>

    <a href="{% url 'forget_password'%}">Forget Password</a>

  <div class="text text-center fs-6">
    <a href="{% url 'signup' %}">Create an Account</a>
  </div>
</div>

{% endblock %}