html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }
.abc {
  background-color: antiquewhite;
}
.image {
  width: 100%;
  height: 300px;
}
.p {
  margin: 0%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}